*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:#10d5ef ;
}

.navbar>.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
    font-family: Cambria,
            Cochin,
            Georgia,
            Times,
            'Times New Roman',
            serif;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color:black;
    text-decoration: none;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.image {
    height: auto;
    width: auto;
    background-image: url("./images/portfolio background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.textarea {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f0f8ff;
    overflow: hidden;
}

.typed-cursor {
    opacity: 1;
}

.typtxt {
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-size: 50px;
    font-weight: bolder;
    padding-top: 30px;
}

span {
    color: white;
}

.heading {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #10d5ef;
    padding-left: 20px;
}

.about-me {
    font-weight: bolder;
    font-family: 'Times New Roman',
        Times,
        serif;
    color: rgb(253, 255, 252);
   /* background-color: rgba(150, 143, 155, 0.411); */
    border-radius: 10px;
    margin: 20px;
    font-size: 30px;
    width: 80%;
    text-align: justify;
}
.spcl{
    color: #f0f8ff;
    font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(253, 255, 252);
        padding-left: 100px;
        font-size: 24px;
}
.skills {
    display: flex;
    flex-direction: column;
}

.skill {
    margin-bottom: 10px;
}

.skill-name {
    font-weight: bolder;
    margin-bottom: 5px;
    color: aliceblue;
    padding-left: 20px;
    font-size: 20px;
}

.skill-bar {
    background-color: #07d9f4ed;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    margin-left: 20px;
}
.project{

    background-color: #03ddfaa9;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(58, 216, 244, 0.758);
}
.project-head{
    font-family: Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;
        color: white;
        font-weight: 900;
}
.project>a{
    color: aliceblue;
}
.btn{
    background-color: rgba(255, 255, 255, 0.562);
    color: black;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .btn:hover{
    transform: scale(1.05);
  }
  .project-description{
    color: #f0f8ff;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 300;
  }
  h4{
    color: white;
    padding-left: 20px;
  }
  .contact-info{
    color: white;
  }
  .contact{
    background-color:rgba(255, 255, 255, 0.427);
    padding-left: 20px;
    border-radius: 5px;
    
  }
  
  #footer{
    background-color: black;
    height: 60px;
   display: inline-block;
  }
  #footer{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    color: #f0f8ff;
  }
  .download{
    background-color: #10d5ef;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  .download:hover{
    transform: scale(1.05);
  }